*{
    margin: 0px;
    font-family: "inter";  
}

#memu-superior{
    height: 370px;
    background-color:#303030 ;
    color: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 80px;
}

#titulo-superior{
    margin-top: 150px;
    margin-left: 62px;
    font-size: 60px;
}

#texto-superior{
    margin-top: 20px;
    margin-left: 62px;
    font-size: 25px;
}

#memu-informacional{
    display: grid;
    grid-auto-flow: column;
    background-color: #f9f9f9;
    padding: 4%;
}

.titulo{
    margin-left: 200px
}

.texto{
    margin-bottom: 15px;
    margin-left: 200px;
    font-size: 20px;
}

.text{
    display: flex;
    flex-direction: column;
    align-items:baseline
}

#secao-imagem{
    display: grid;
    grid-auto-flow: column;
    display: flex;
    align-items:center;
}

#imagem{
    flex-wrap: nowrap ;
    margin-left: 150px;
    margin: 70px 0px 70px 50px;
    padding-left: 30px;
    padding-right: 20px;
}

#infotexto{
   margin: 0px 50px;
   padding-left: 70px ;
}

#titulo-imagem{
    font-size: 50px;
    margin-bottom: 50px;

}

#texto-imagem{
    font-size: 30px;
    
}

#formulario{
    text-align: center;
    background-color: #303030;
    height: 638px;
    top: 1478px;

}

#titulo-formulario{
    font-size: 32px;
    margin: 25px;
    color: #FFFFFF;
    padding-top: 70px;
    padding-bottom: 20px;
}

input{
    width: 420px;
    height: 52px;
    background-color: white;
    margin: 15px;
    border:0px;
    border-radius: 5px;
    padding-left: 10px;
    
}

button{
    background-color: #C07212;
    color: #FFFFFF;
    height: 50px;
    width: 250px;
    border:0px;
    border-radius: 5px;
    margin-top: 50px;
    font-weight: bolder;
    cursor: pointer;
    font-size: 20px;
    
}

button:hover{
    background-color: #c77b1e; 
    color: #FFFFFF;
    transform: translateY(-7px);
    box-shadow: 0px 15px 20px #774405;
    transition-duration: 0.5s;
}


#seta-direita{
    width: 50px;
    padding-left: 30px;
    cursor: pointer;
}

#seta-esquerda{
    width: 50px;
    display: none;
    cursor: pointer;
    
}

#imagem2{
    display: none;
    margin: 70px 0px 70px 50px;
    height: 605px;
    width: 510px;
    border-radius: 30px ;

}

.seta:hover{
    transform: translateY(-7px);
    transition-duration: 0.5s;
}
